<!--
  Generated template for the Map component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->



<div class="wrapper"> 
  <div id="map"></div>
  <pickup 
    [hidden]="isPickupRequested"
    [map]="map" 
    [isPinSet]="isMapIdle"
    [isPickupRequested]="isPickupRequested"
    (updatedPickupLocation)="updatedPickupLocation($event)">
  </pickup>
  <available-cars
    [map]="map"
    [isPickupRequested]="isPickupRequested">
  </available-cars>
  <pickup-car
    [map]="map"
    [isPickupRequested]="isPickupRequested"
    [pickupLocation]="currentLocation">
  </pickup-car>
</div>
